* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: monospace;
    border: 1px solid black;
    padding: 0 20px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px #A2D2FF

}

.game {
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: #A2D2FF;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.418);
    padding: 1.5rem;
    margin-top: 50px;
}

.slot {
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;


}

.reset {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.418);
    font-family:monospace
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3 {
    font-family: monospace;
    margin-top: 20px;
}
